/* Base CSS for Pokemon website */



body {
    background-color: #ffcb05; /* Pikachu yellow */
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #3b4cca; /* Pokemon blue */
}

nav {
    background-color: #3b4cca; /* Pokemon blue */
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #3b4cca; /* Pokemon blue */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}